.App {
  text-align: center;
}

.App-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D4F4DD;
}

.App-content {
  padding: 0 50px;
  background-color: #17BEBB;
  border-radius: 5px;
}

.label {
  text-align: left;
  font-weight: 500;
  margin-bottom: 5px;
}

.send-button {
  padding: 5px;
  width: 150px;
  background-color: #2CC12F;
  border-radius: 5px;
  text-decoration: none;
  color: white; 
}

.registry-button {
  padding: 5px;
  width: 150px;
  background-color: #0E7C7B;
  border-radius: 5px;
  text-decoration: none;
  color: white;  
}

.buttons {  
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forgot-password {
  margin: 10;
}

input {
  background-color: #0E7C7B;
  width: calc(200px + 2vmin);
  border-width: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}

h1 {
  font-size: calc(30px + 2vmin);
  color: #0E7C7B;
}
